<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - ASD Screening Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the ASD Screening Quiz</h1>
    </header>

    <main>
        <div id="authForms">
            <h2>Forgot Password</h2>
            <form id="forgotPasswordForm" action="{{ url_for('reset_password') }}" method="POST">         <!-- Updated action -->
                <label for="resetEmail">Enter your email:</label>
                <input type="email" id="resetEmail" name="email" required>

                <button type="submit">Reset Password</button>
            </form>
            <p><a href="{{ url_for('login') }}">Back to Login</a></p> <!-- Updated link -->
        </div>
    </main>

    <footer>
        <p>&copy; 2024 ASD Screening Quiz. All rights reserved.</p>
    </footer>
</body>
</html>